<?xml version="1.0"?>
<launch>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen"/>  # FIXME
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="log"/>  # FIXME

    <rosparam file="$(find eurobot_loc)/config/main_robot_localization_params.yaml" command="load" ns="main_robot"/>
    <param name = "robot_name" value = "main_robot"/>
    <param name = "ODOM_RATE" value = "40"/>
    <param name = "STATUS_RATE" value = "25"/>
    <rosparam file="$(find eurobot_stm)/config/stm.yaml" command="load" ns="main_robot"/>
    <node name="stm_node" pkg="eurobot_stm" type="STM.py" output="screen"/>
    <node pkg="urg_node" name="lidar_node" type="urg_node" args="_ip_address:=192.168.0.10" respawn="true" output="log">
        <param name="frame_id" value="/main_robot_laser"/>
    </node>
</launch>

