<?xml version="1.0"?>
<launch>
    <rosparam file="$(find eurobot_loc)/config/secondary_robot_params.yaml" command="load" ns="secondary_robot"/>
    <param name = "field/color" value = "orange"/>

    <group ns = "secondary_robot">
        <node pkg="eurobot_nav" name="motion_planner_node" type="motion_planner_node.py" output="screen"/>
        <node pkg="eurobot_tactics" name="tactics_node" type="tactics_node.py" output="screen"/>
        <node pkg="eurobot_sim" name="simulation" type="stm_node.py" output="log"/>

        <!-- Robot model -->
        <param name="description" command="cat $(find eurobot_sim)/models/secondary_robot.urdf" />
        <param name="description_semantic" command="cat $(find eurobot_sim)/models/secondary_robot.urdf" />
    </group>

    <group ns="visualization">
        <node pkg="rviz" name="$(anon rviz-1)" type="rviz"  args="-d $(find eurobot_tactics)/config/visualization.rviz"/>
        <param name="field_description" textfile="$(find eurobot_sim)/models/field.urdf" />
        <param name="field_description_semantic" textfile="$(find eurobot_sim)/models/field.urdf" />
    </group>

</launch>
