<?xml version="1.0"?>
<launch>
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery"/>
    <rosparam file="$(find eurobot_loc)/config/main_robot_params.yaml" command="load" ns="main_robot"/>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync"/>
    <group ns="main_robot">
        <include file="$(find eurobot_loc)/launch/localization.launch" />
    </group>
    <include file="$(find eurobot_stm)/launch/STM_node.launch" />
    <include file="$(find eurobot_nav)/launch/motion_planner_launch.launch"/>
</launch>
