<?xml version="1.0"?>
<launch>
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery"/>
    <param name="/secondary_robot/robot_name" value="secondary_robot" />
    <param name="/secondary_robot/start_side" value="purple" />
    <rosparam file="$(find eurobot_loc)/config/secondary_robot_localization_params.yaml" command="load" ns="secondary_robot"/>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync"/>
    <group ns="secondary_robot">
        <include file="$(find eurobot_loc)/launch/localization.launch" />
    </group>
    <include file="$(find eurobot_stm)/launch/STM_node.launch" />
    <include file="$(find eurobot_nav)/launch/motion_planner_secondary_robot.launch"/>
</launch>
