<?xml version="1.0"?>
<launch>

  <arg name="color" default="orange" />
  <param name="/field/color" value="$(arg color)" />

  <include file="$(find eurobot)/launch/params.launch"/>
  <include file="$(find eurobot_sim)/launch/visualization.launch"/>
  <include file="$(find eurobot_sim)/launch/simulation.launch"/>
  <include file="$(find eurobot_navigation)/launch/navigation_main.launch"/>
  <include file="$(find eurobot_navigation)/launch/navigation_secondary.launch"/>

</launch>
