<?xml version="1.0"?>
<launch>
    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery"/>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync"/>

    <param name = "field/color" value = "orange"/>
    <group ns="secondary_robot">
        <include file="$(find eurobot_loc)/launch/localization.launch"/>
        <rosparam file="$(find eurobot_loc)/launch/secondary_robot_params.yaml" command="load"/>
        <node pkg="eurobot_stm" name="stm_node" type="STM.py" output="log"/>
    </group>
</launch>
