<?xml version="1.0"?>
<launch>
        <node pkg="master_sync_fkie" type="master_sync" name="master_sync"/>
        <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery"/>
        <group ns = "secondary_robot">
        <node pkg="urg_node" name="lidar_node" type="urg_node" args="_ip_address:=192.168.0.13" respawn="true" output="screen">
              <param name="frame_id" value="/secondary_robot_laser"/>
        </node>
        </group>
</launch>
