<?xml version="1.0"?>
<launch>
        <node pkg="urg_node" name="lidar_node" type="urg_node" args="_ip_address:=192.168.0.10" respawn="true" output="log">
              <param name="frame_id" value="/secondary_robot_laser"/>
        </node>
        <node pkg="eurobot_loc" name="particle_filter_node" type="particle_filter_node.py" respawn="true" output="log"/>
</launch>
