<?xml version="1.0"?>
<robot name="field">
  <material name="Grey">
    <color rgba=".99 .98 .88 1"/>
  </material>
  <material name="White">
    <color rgba="1 1 1 1"/>
  </material>

  <link
    name="table">
    <inertial>
      <origin
        xyz="1.5 1.0647 -0.0033004"
        rpy="0 0 0" />
      <mass
        value="165.19" />
      <inertia
        ixx="13.61"
        ixy="-1.3214E-14"
        ixz="-4.0492E-15"
        iyy="113.31"
        iyz="-0.4109"
        izz="126.82" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.015"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eurobot_sim/models/table.STL" />
      </geometry>
      <material
        name="grey">
        <color
          rgba="0.71 0.69 0.63 1" />
      </material>
    </visual>
    <!--collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eurobot_sim/models/table.STL" />
      </geometry>
    </collision-->
  </link>

  <!--link name="table">
     <visual>
       <origin xyz="1.5 1.0 -0.011" rpy="0 0 0" />
       <geometry>
         <box size="3.044 2.044 0.022" />
       </geometry>
       <material name="Grey"/>
     </visual>
     <collision>
       <origin xyz="1.5 1.0 -0.01" rpy="0 0 0"/>
       <geometry>
         <box size="3.044 2.044 0.02" />
       </geometry>
     </collision>

     <visual>
       <origin xyz="-0.011 1.0 0.035" rpy="0 0 0" />
       <geometry>
         <box size="0.022 2.044 0.070" />
       </geometry>
       <material name="Grey"/>
     </visual>
     <collision>
       <origin xyz="-0.011 1.0 0.035" rpy="0 0 0"/>
       <geometry>
         <box size="0.022 2.044 0.070" />
       </geometry>
     </collision>

     <visual>
       <origin xyz="3.011 1.0 0.035" rpy="0 0 0" />
       <geometry>
         <box size="0.022 2.044 0.070" />
       </geometry>
       <material name="Grey"/>
     </visual>
     <collision>
       <origin xyz="3.011 1.0 0.035" rpy="0 0 0"/>
       <geometry>
         <box size="0.022 2.044 0.070" />
       </geometry>
     </collision>

     <visual>
       <origin xyz="1.5 -0.011 0.035" rpy="0 0 0" />
       <geometry>
         <box size="3.0 0.022 0.070" />
       </geometry>
       <material name="Grey"/>
     </visual>
     <collision>
       <origin xyz="1.5 -0.011 0.035" rpy="0 0 0"/>
       <geometry>
         <box size="3.0 0.022 0.070" />
       </geometry>
     </collision>

     <visual>
       <origin xyz="1.5 2.011 0.035" rpy="0 0 0" />
       <geometry>
         <box size="3.0 0.022 0.070" />
       </geometry>
       <material name="Grey"/>
     </visual>
     <collision>
       <origin xyz="1.5 2.011 0.035" rpy="0 0 0"/>
       <geometry>
         <box size="3.0 0.022 0.070" />
       </geometry>
     </collision>

   </link-->

   <link name="beacons">
     <visual>
       <origin xyz="-.094 .05 .4" rpy="0 0 0" />
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
       <material name="White"/>
     </visual>
     <collision>
       <origin xyz="-.094 .05 .4" rpy="0 0 0"/>
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
     </collision>

     <visual>
       <origin xyz="-0.092 .05 .175" rpy="0 0 0" />
       <geometry>
         <box size=".1 .1 .35" />
       </geometry>
       <material name="White"/>
     </visual>


     <visual>
       <origin xyz="-.094 1.95 .4" rpy="0 0 0" />
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
       <material name="White"/>
     </visual>
     <collision>
       <origin xyz="-.094 1.95 .4" rpy="0 0 0"/>
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
     </collision>

     <visual>
       <origin xyz="-0.092 1.95 .175" rpy="0 0 0" />
       <geometry>
         <box size=".1 .1 .35" />
       </geometry>
       <material name="White"/>
     </visual>


     <visual>
       <origin xyz="3.094 1 .4" rpy="0 0 0" />
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
       <material name="White"/>
     </visual>
     <collision>
       <origin xyz="3.094 .5 .4" rpy="0 0 0"/>
       <geometry>
         <cylinder length="0.1" radius="0.04"/>
       </geometry>
     </collision>

     <visual>
       <origin xyz="3.092 1 .175" rpy="0 0 0" />
       <geometry>
         <box size=".1 .1 .35" />
       </geometry>
       <material name="White"/>
     </visual>

    </link>

    <joint name="table_to_beacons" type="fixed">
      <parent link="table"/>
      <child link="beacons"/>
    </joint>
</robot>
