<?xml version="1.0"?>
<robot name="secondary_robot">
  <!--material name="green">
    <color rgba="0 1 0 1"/>
  </material-->

  <!--material name="transp">
    <color rgba="0 1 0 0.1"/>
  </material-->
<link name="secondary_robot">
<visual>
      <origin
        xyz="0 0 .185"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://eurobot_loc/models/secondary_robot.STL" scale="0.001 0.001 0.001"/>
      </geometry>
	<material
        name="yellow">
        <color
          rgba="1 0.964705882 0.560784314 1" />
      </material>
    </visual>
    <!--visual>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
      <material name="transp"/>
    </visual>
    <collision>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
    </collision-->

    <!--visual>
      <origin xyz="0 1.1 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.19 0.34" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="0 1.1 0" rpy="0 0 0" />
      <geometry>
        <box size="0.11 0.19 0.34" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 -0.07 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.22 0.05 0.34" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="0 -0.07 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.22 0.05 0.34" />
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 1.1 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.19 0.34" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="0 1.1 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.19 0.34" />
      </geometry>
    </collision-->

</link>
</robot>
